.jetBrains{
  font-family:'jetBrains Mono','cursive';
}
.pointer{
  cursor:pointer;
}
.swiper {
  width: 800px;
  height: 550px;
  border-radius:25px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-slide img {
  border-radius:25px;
  display: block;
  width: 100%;
}
.image-detail{
  height:350px;
  box-shadow:20%;
}

@media screen and (max-width:800px){
  .swiper{
    width:350px;
    height:250px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  .swiper-slide img {
    border-radius:25px;
    display: block;
    width: 100%;
  }
}